<p>Create New Location</p>
<form [formGroup]="locationInfo" (ngSubmit)="createLocation()">
    <ion-item>
        <ion-label class="form-label" fixed>Name </ion-label>
        <ion-input class="form-input-text" type="text" formControlName="locName"></ion-input>
    </ion-item>
    <ion-item class="formField">
        <ion-label class="form-label" fixed>Description </ion-label>
        <ion-input class="form-input-text" type="text" formControlName="locDesc"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!locationInfo.valid">Create</button>
</form>
