<ion-content >
    <ion-list>
        <ion-item *ngFor ="let c of campaigns;">
            <ion-card (click)="loadCampaign(c);" tappable>
                <ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h2>{{c.name}}</h2>
                            </ion-col>
                            <ion-col>
                                <div align="right">
                                    <button (click)="deleteCampaign(c.name);" style="background-color: Transparent; border: none; outline: none;">
                                        <img src="assets/imgs/delete.png" style="width:16px;height:16px">
                                    </button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <p>Description: {{c.description}}</p>
                    </ion-row>
                    <ion-row>
                      <p>Game: {{c.game.name}}</p>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
