.ion-ios-homeicon-outline,
.ion-ios-homeicon,.ion-md-homeicon,.ion-md-homeicon-outline {
  content: url('../assets/icon/home.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-campaign-outline,
.ion-ios-campaign,.ion-md-campaign,.ion-md-campaign-outline {
  content: url('../assets/icon/campaign.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-encounter-outline,
.ion-ios-encounter,.ion-md-encounter,.ion-md-encounter-outline {
  content: url('../assets/icon/encounter.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-chaticon-outline,
.ion-ios-chaticon,.ion-md-chaticon,.ion-md-chaticon-outline {
  content: url('../assets/icon/chaticon.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-noteicon-outline,
.ion-ios-noteicon,.ion-md-noteicon,.ion-md-noteicon-outline {
  content: url('../assets/icon/noteicon.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-resources-outline,
.ion-ios-resources,.ion-md-resources,.ion-md-resources-outline {
  content: url('../assets/icon/resources.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
