<p>Create New Character</p>
<form [formGroup]="characterInfo" (ngSubmit)="createCharacter()">
    <ion-item>
        <ion-label class="form-label" fixed>Name </ion-label>
        <ion-input class="form-input-text" type="text" formControlName="charName"></ion-input>
    </ion-item>
    <ion-item class="formField">
        <ion-label class="form-label" fixed>Description </ion-label>
        <ion-input class="form-input-text" type="text" formControlName="charDesc"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!characterInfo.valid">Create</button>
</form>
