.conv-type-segment {
  top: $header-height;
}

.add-conversation {
  display: flex;
  //justify-content: center;
  align-items: center;

  img {
   width: 3.75rem;
   height: 3rem;
   padding-right: 0.75rem;
  }

  p {
    padding-left: 0.75rem;
    white-space: nowrap;
  }
}

ion-slide.swiper-slide {
  align-items: flex-start;
}

message-input {
  position: fixed;
  bottom: 5.5rem;
  left: 0rem;
  right: 0rem;
}
