$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

@mixin center($axis: "both"){
  position:absolute;
  @if $axis == "y"{
      top:50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  @if $axis == "x"{
      left:50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  @if $axis == "both"{
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

$colors: (
  primary:          #FFA039,
  primary-deep:     #FF8500,
  primary-light:    #FFB463,
  primary-dark:     #C56700,
  primary-darker:   #9B5100,

  secondary:        #FF6539,
  secondary-deep:   #FF3900,
  secondary-light:  #FF8663,
  secondary-dark:   #C52C00,
  secondary-darker: #9B2300,

  tertiary:         #FFC339,
  tertiary-deep:    #FFB100,
  tertiary-light:   #FFD063,
  tertiary-dark:    #C58900,
  tertiary-darker:  #9B6C00,

  danger:     #FF0000,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background: map-get($colors, primary-darker);
$background-color: map-get($colors, tertiary-light);

$header-height: 5.5rem;

.modal-label {
  color: map-get($colors, primary-darker);
}

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
