$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:          #FFA039,
  primary-deep:     #FF8500,
  primary-light:    #FFB463,
  primary-dark:     #C56700,
  primary-darker:   #9B5100,

  secondary:        #FF6539,
  secondary-deep:   #FF3900,
  secondary-light:  #FF8663,
  secondary-dark:   #C52C00,
  secondary-darker: #9B2300,

  tertiary:         #FFC339,
  tertiary-deep:    #FFB100,
  tertiary-light:   #FFD063,
  tertiary-dark:    #C58900,
  tertiary-darker:  #9B6C00,

  danger:     #FF0000,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background: map-get($colors, primary-darker);
$background-color: map-get($colors, tertiary-light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
