.tile {
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    text-decoration:none;
    text-align: center;
    
    padding: 0.5em 1.5em;
    
    cursor: pointer;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  
    outline: 0;
}

.tile:hover {
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

.tile:active {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    filter: invert(100%);
}

p {
    color: map-get($colors, dark);
    text-shadow: 0px -1px 0px map-get($colors, light);
}

/*div {
    line-height: 20px;
    height: 25px;
    width: 200px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}*/

.glass {
    background: linear-gradient(
      to bottom,  
      rgba(180,180,180,0.8) 0%,
      rgba(180,180,180,0.5) 3%,
      rgba(180,180,180,0.1) 45%,
      rgba(180,180,180,0.05) 0%,
      rgba(180,180,180,0.05) 28%,
      rgba(180,180,180,0.05) 60%,
      rgba(180,180,180,0.05) 65%,
      rgba(255,255,255,0.3) 90%,
      rgba(0,0,0,0.3) 95%,
      rgba(0,0,0,0.3) 100%
    ); /* W3C */
    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 0px;
  
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset;
}
