<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-wifidirect"
    version="1.0.0">
    <name>WifiDirect</name>
    <description>Allows Cordova applications to create P2P connections over Wifi without a network.</description>
    <author>Rob Miller</author>
    <license>MIT</license>
    <keywords>wifi,direct,connect,wireless</keywords>
    <repo></repo>
    <issue></issue>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <js-module src="www/plugin.js" name="plugin">
            <clobbers target="WifiDirect" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiDirect">
            <param name="android-package" value="com.rmiller.WifiDirect" />
            <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/com/rmiller/WifiDirect.java"
            target-dir="src/com/rmiller" />
        <source-file src="src/android/com/rmiller/FileTransferService.java"
            target-dir="src/com/rmiller" />
        <source-file src="src/android/com/rmiller/FileServerAsyncTask.java"
            target-dir="src/com/rmiller" />
        <source-file src="src/android/com/rmiller/WifiDirectBroadcastReceiver.java"
            target-dir="src/com/rmiller" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MyCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MyCordovaPlugin">
                <param name="ios-package" value="MyCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MyCordovaPlugin.h" />
        <source-file src="src/ios/MyCordovaPlugin.m" />
    </platform>
</plugin>
