.form-label {
    color: black;
}

.form-input-text {
    outline: 0;
    border: 1px solid adjust-color(map-get($colors, primary-dark), $alpha: -0.6);
    background-color: adjust-color(map-get($colors, primary-dark), $alpha: -0.8);
    width: 250px;
    border-radius: 3px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: map-get($colors, light);
    font-weight: 400;
}

.invalid {
    border: 1px solid map-get($colors, danger);
}